.light-gray{
  color: #D3D3D3;
}

.dark-gray{
  color: #A9A9A9;
}

.small-background{
  color: #D3D3D3!important;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");

}

.wall-color{
  color: #FFFFFF;
}

.wall-image{
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png")!important;
.font {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
.chinese {
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  font-style: normal;
}

